@import url(homepage.css);

.sticky-top{
    background-color: white;
}

.search-bar{
    font-size: 0.97rem;
    border-radius: 0;
}

.search-wrapper{
    position: relative;
}

.search-wrapper input{
    padding-left: 2.25vw;
}

.search-wrapper i{
    font-size: 0.95rem;
    position: absolute;
    top: 50%;
    left: 0.7vw;
    transform: translateY(-50%);
}

.logout-nav{
    margin-right: -0.5vw;
}

.background-img{
    height: 70vh;
}

.offers-container .card a{
    text-decoration: none;
    color: black;
}

/* Cart */

.cart-container{
    background-image: url('../images/background.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
}